*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* ------------------------------------- */
/* ---------------Header---------------- */
/* ------------------------------------- */
header{
    margin: 0 auto;
    width: 100%;
}
.Logo{
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    font-weight: 600;
    font-size: 27px;
    color: #000000;
} 
.headLinks{
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    display: inline-block;
    float: right;
    color: #000000;
    margin-right: 12px;
    font-size: 21px;
    font-weight: 500;
    vertical-align: middle;
}
a{
    text-decoration: none; 
}
.HeadLinks24{
    margin-right: 24px;
}
.headButton{
    margin-left: 32px;
    color: #2203E4;
    height: 45px;
    width: 128px;
    border: 1px solid #2203E4;
    background-color: #ffffff; 
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
} 
/* ------------------------------------- */ 
/* --------------TitlePart-------------- */
/* ------------------------------------- */
.wrapper{
    width: 1269px;
    margin: 0 auto;
    overflow: hidden;
}
/* --------Left PART----------- */
.leftTitle{
    float: left;
    width: 611px;
    padding-left: 91px;
    padding-top: 256px;
    padding-bottom: 256px;
    display: inline-block;
}
.LandingTitle{
    padding-top: 10px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 47px;
    color: #000000;
}
.LandingParagraph{
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.AutorsButton{
    border: 0;
    margin-right: 24px;
    width: 94px;
    height: 39px;
    color: #ffffff;
    background-color: #0062FF;
    font-weight: 400;
    font-size: 16px;
}
.CheckDemoButton{
    border: 1px solid #575757;
    width: 135px;
    height: 39px;
    background-color: #ffffff;
    color: #575757;
    font-weight: 400;
    font-size: 16px;
}
/* --------Right PART----------- */
.BIGbuttonPhone{
    margin-left: 48px;
    display: inline-block;
    margin-top: 118.81px;
} 
/* ------------------------------- */
/* ----------AUTORS PART---------- */
/* ------------------------------- */
/* ---------Autors PArt----------- */
.AutorsPart{
    width: 1190px;
    text-align: center;
    float: left;
    padding-bottom: 36px;
}
.Autors{
    margin: 0 auto;
    padding-bottom: 12px;
    font-size: 36px;
    font-weight: 600;
}
.AutorsPAragraph{
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
}
/* ----------Parts About--------- */
.AboutAutors{
    padding-left: 3px;
    padding-right: 73px;
    padding-bottom: 143px;
    float: left;
}
.PartAbout{
    display: inline-block;
}
/* ---Information Left --- */
img[src="IMG/FAce.png"]{
    padding-right: 45px;
}
/* ---Information Centre--- */
h4,p{
    margin: 0 auto;
}
.FirstSecondName{
    font-size: 27px;
    font-weight: 600;
    color: #000000;
    height: 32px;
}
.JobTitle{
    font-size: 21px;
    font-weight: 500;
    color: #575757;
}
.AboutJobTitle{
    padding-top: 12px;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #575757;
    width: 645px;
}
.autorsLinks{
    display: inline-block;
    margin-right: 19px;
}
/* ---Information right--- */
.rightLIST{
 padding:  7px 0px 7px 112px;
 float: right;
}
.OrangeName{
    padding-left: 16px;
    font-size: 21px;
    font-weight: 500;
    color: #DEA405;
}
.OrangeJob{
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #FFBE0B;
}
.DarkName{
    padding-top: 8px;
    padding-left: 16px;
    font-size: 27px;
    font-weight: 600;
    color: #000000;
}
.DarkJob{
    padding-bottom: 8px;
    padding-left: 16px;
    font-size: 21px;
    font-weight: 500;
    color: #575757;
}
.activeAutor{
    margin: 0 auto;
    position: relative;
}
.activeAutor::before{
    content: url(../img/before_Autors.png);
    margin: 0 auto;
    position: absolute;
    left: -2px;
    bottom: 20px;
}
/* ------------------------------- */
/* ----------For Who PART--------- */
/* ------------------------------- */
.blueBCGRND{
    background-color: #0062FF;
}
.ForWhoPART{
    padding-top: 71px;
    padding-bottom: 64px;
    text-align: center;
}
.ForWho{
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 16px;
}
.ForWhoParagraph{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    width: 611px;
}
/* -------tables cell -----*/
.ForWhoTable{
    display: table;
    width: 1262px;
    padding-bottom: 64px;
}
.Trow{
    display: table-row;
}
.Trow.first{
    padding-bottom: 48px;
}
.TCell{
    display: table-cell;
    height: 125px;
    width: 607px;
}
.TCell.theRight{
    padding-left: 48px;
}
.cellText,.cellIMG{
    display: inline-block;
}
.cellText{
    padding-left: 34px;
    padding-top: 14px;
    padding-bottom: 14px;
    float: right;
    width: 451px;
} 
.ForSMone{
    font-size: 27px;
    font-weight: 600;
    color: #ffffff;
}
.descriptSMone{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}
/* ------ForWho button--- */
.FWButton{
    padding-bottom: 71px;
    text-align: center;
}
.ForWhoButton{
    width: 99px;
    height: 39px;
    border: 1px solid #2203E4;
    background-color: #ffffff;
    color: #2203E4;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
/* ------------------------------- */
/* -------Check Demo PART--------- */
/* ------------------------------- */
.CheckDemo{
    padding-top: 63px;
    text-align: center;
    margin: 0 auto;
}
.ChDemo{
    font-size: 36px;
    font-weight: 600;
    color: #000000;
    padding-bottom: 12px;
}
.ChParagraph{
    width: 611px;
    font-size: 16px;
    font-weight: 400;
    color: #575757;
    padding-bottom: 44px;
}
/* -------video part----------- */
.videoPart{
    width: 1103px;
    margin-left: 80px;
    padding-bottom: 131px;
}
.videoDescription,.video{
    display: inline-block;
}
.video{
    float: right;
}
.videoDescription{
    width: 611px;
    text-align: center;
    padding-top: 11.5px;
}
.videoArticle{
    font-size: 21px;
    font-weight: 500;
    color: #000000;
    padding-bottom: 12px;
}
.videoParagraph{
    font-size: 16px;
    font-weight: 400;
    color: #575757;
    padding-bottom: 24px;
}
.videoParagraph.theLast{
    padding-bottom: 11.5px;
}
/* ------------------------------- */
/* -------Opinions PART----------- */
/* ------------------------------- */
.OrangeBCGRND{
    background-color: #FFBE0B;
    text-align: center;
    padding-bottom: 68px;
}
.Opinions{
    padding-top: 67px;
    padding-bottom: 42px;
}
.OpinionsTitle{
    font-size: 36px;
    font-weight: 600;
    color: #000000;
    padding-bottom: 12px;
}
.OpinionsParagraph{
    font-size: 16px;
    font-weight: 400;
    color: #575757;
    width: 611px;
}
.slaider{
    position: relative;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    background-color: #f3f3f3;
    border-radius: 12px;
    display: inline-block;
    margin-left: 32px;
    margin-right: 32px;
}
.slaider::before{
    content: url(../IMG/Frame\ 38.png);
    display: inline-block;
    position: absolute;
    left: -744px;
    top: -18px;
    opacity: 0.45;
}
.slaider::after{
    content: url(../IMG/Frame\ 38.png);
    display: inline-block;
    position: absolute;
    right: -744px;
    top: -18px;
    opacity: 0.45;
}
.litlThink,.whoANDwhat{
    display: inline-block;
}
.litlThink{
    margin-left: 16px;
    margin-right: 12px;
    padding-top: 82.5px;
    padding-bottom: 82.5px;
    float: left;
}
.whoANDwhat{
    text-align: left;
    float: right; 
    width: 611px;
    padding-top: 47.5px;
}
.whoIs{
    font-size: 27px;
    font-weight: 600;
    color: #000000;
    padding-bottom: 3px;
}
.whoIs::after{
    content: url(../IMG/stars.png);
    vertical-align: middle;
    margin-left: 7px;
}
.whatJob{
    padding-bottom: 16px;
    font-size: 21px;
    font-weight: 500;
    color: #000000;
}
.whatThinks{
    font-size: 16px;
    font-weight: 400;
    color: #575757;
}
/* ------------------------- */
/* -----Start with US PART-- */
/* ------------------------- */
.StartWithUs{
    text-align: center;
    padding-top: 89px;
    padding-bottom: 74px;
}
.StartAbstract{
    font-size: 36px;
    font-weight: 600;
    color: #000000;
    padding-bottom: 12px;
}
.StartParagraph{
    font-size: 16px;
    font-weight: 400;
    color: #575757;
    width: 611px;
}
/* -----------phone part---- */
.LitPhoneIMG,.StartDescription{
    display: inline-block;
    vertical-align: middle;
}
.LitPhoneIMG{
    padding-left: 155px;
}
.StartDescription{
    padding-left: 13px;
}
.reviewsDIV{
    vertical-align: middle;
}
.reviews{
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.reviews::before{
    content: url(../IMG/stars.png);
    padding-right: 17px;
    top: 7px;
    position: relative;
}
.DescripTitle{
    padding-top: 16px;
    font-size: 36px;
    font-weight: 600;
    color: #2203E4;
    padding-bottom: 16px;
}
.DescripPrgrph{
    font-size: 16px;
    font-weight: 400;
    color: #575757;
    padding-bottom: 16px;
}
.StartWUsButton{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: #0062FF;
    width: 122px;
    height: 39px;
    border: 0;
}
.LitlPhoneBox{
    padding-bottom: 74px;
}
/* -------------------- */
/* -------Discount----- */
/* -------------------- */
.discountTitle{
    text-align: center;
    padding-bottom: 28px;
}
.lastQuestion{
    font-size: 27px;
    font-weight: 600;
    color: #000000;
}
.formEmail{
    text-align: center;
    padding-bottom: 100px;
}
input[type="mail"]{
    width: 508px;
    padding-left: 24px;
    width: 508px;
    height: 70px;
    border-radius: 12px;
    border: 0;
    background-color: rgba(58, 134, 255, 0.2) ;
    /* color: #2203E4; */
    font-size: 16px;
    font-weight: 400;
}
.submitt{
    margin-top: 14px;
    text-align: center;
    background-color: #0062FF;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    width: 508px;
    height: 39px;
    border: 0;
} 
/* --Color placeholder Email--- */
/* .colorPLH::placeholder{
    color: #2203E4;
} */
.colorPLH::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #2203E4;
  }
  .colorPLH::-moz-placeholder { /* Firefox 19+ */
    color: #2203E4;
  }
  .colorPLH:-ms-input-placeholder { /* IE 10+ */
    color: #2203E4;
  }
  .colorPLH:-moz-placeholder { /* Firefox 18- */
    color: #2203E4;
  }