$Orange: #ff9900;
$Black: #000;
$White: #ffff;
$BackqroundWhite: #F6FDEE;
$Yelow: #FFE600;

@mixin ButtonRight{
    color: $Black;
    font-size: 2.4rem;
    font-weight: 700;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid $Yelow;
}

*{
    box-sizing: border-box;
    font-family: 'Philosopher';
}

a{
    text-decoration: none;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
}

html{
    font-size: 10px;
}

.MainBackground{
    background-image: url(../img/banner\ 1.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Logo{
        font-size: 4rem;
        font-weight: 400;
        color: $White;
    }
        .LogoSpan{
            color: $Orange;
            font-size: 4rem;
            font-weight: 400;
        }
    .HeaderLinks{
        display: flex;
        justify-content: space-between;
        font-size: 2.4rem;
        font-weight: 400;
        column-gap: 2.5%;
        a{
            color: $White;
            &:hover{
                color: #ff9900;
            }
        }
    }
    .TakeTour{
        font-size: 2.4rem;
        font-weight: 700;
        a{
            color: $Orange;
            &:hover{
                color: $White;
            }
    
        }
    }
    .gamburger{
        display: none;
//     padding: 9px;
//     flex-direction: column;
//     display: none;
//     height: 45px;
//     width: 45px;
//     border-radius: 50%;
//     border: 3px solid white;
//     justify-content: space-around;
//     align-items: center;  
// .gamburger-dekoration{
//     margin: 0;
//     padding: 0;
//     border: 1px solid #ffff;
//     width: 25px;
// }
    }
}
// -----------------------------------------------

.MainText{
    display: flex;
    justify-content: center;
    padding-top: 30.2rem;
    padding-bottom: 36rem;
    padding-left: 18.2%;
    padding-right: 15.8%;
    color: $White;
    .MainArticle{
        font-size: 8rem;
        font-weight: 400;
        text-align: right;
            .OrangeArticle{
                color: $Orange;
             }
    }
    .MainParagraph{
        padding-left: 18.2rem;
        padding-top: 17px;
        font-size: 3.4rem;
        font-weight: 400;
        p{
        margin-top: 0px;
        margin-bottom: 0px;
        }
        .WhoSay{
            color: $Orange;
            text-align: right;
        }
    }
}
// ---------------------------------------

.StoryPartBackground{
    background-color: $BackqroundWhite;
}

.StoryPart{
    width: 90%;
    margin: 0 auto;
    .StoryArticle{
       text-align: left;
       padding-top: 12rem;
       font-size: 4rem;
       font-weight: 700;
       color: $Black;
       padding-bottom: 7rem;
       .OrangeStory{
            color: $Orange;
       }
    }
}

.FirstGridConter{
    display: grid;
    grid-template-columns: repeat(3);
    column-gap: 6.6rem;
    row-gap: 2.8rem;
    img{
        width: 100%;
        height: 100%;
    }
    .StoryText{
        font-size: 1.8rem;
        font-weight: 400;
        color: $Black;
    }
    .StoryOrange{
        font-size: 2.4rem;
        font-weight: 700;
        color: $Orange;
        padding-bottom: 2rem;
    }
    .LeftTop{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .LeftMidle{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .LeftBottom{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .CenterTop{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: center;
    }
    .CenterBottom{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 5;
    }
    .RightTop{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .RightMidle{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .RightBottom{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}

.ReadMore{
    text-align: right;
    padding-top: 3.5rem;
    padding-bottom: 13.1rem;
    margin: 0px;
    .ReadMoreButton{
        @include ButtonRight;
            &:hover{
                color: $Orange;
            }
    }
}
// ----------------------------------------------

.OurCollectionPart{
    .FirstLine{
        border: 3px solid $Orange;
        position: relative;
        top: 26.575rem;
        z-index: 0;
        background-color: $Orange;
    }
    .SecondLine{
        border: 3px solid $Orange;
        position: relative;
        top: 67.5rem;
        z-index: 0;
        background-color: $Orange;
    }
    .CollectionWrapper{
        width: 90%;
        margin: 0 auto;
        .ColectionArticle{
            text-align: left;
            padding-top: 12rem;
            font-size: 4rem;
            font-weight: 700;
            color: $Black;
            padding-bottom: 5rem;
            .OrangeCollection{
                color: $Orange;
            }
        }
    }
}

.SecondGridConter {
    display: grid;
    grid-template-columns: repeat(4);
    column-gap: 6.6rem;
    .London {
        background-image: url(../img/hotel1\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .Dubai {
        background-image: url(../img/hotel3\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .Paries {
        background-image: url(../img/hotel4\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .NewYork {
        background-image: url(../img/hotel5\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        grid-column-start: 4;
        grid-column-end: 5;
    }
}

.city{
    font-size: 2.4rem;
    font-weight: 700;
    color: $White;
    width: 10.4rem;
    border-bottom: 5px solid $Yelow;
    padding-top: 29.7rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    &:hover{
        color: $Orange;
    }
}

.cityDescribe{
    margin-left: 2rem;
    margin-right: 3.6rem;
    color: $White;
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 7rem;
}
// -------------------------------------------------

.VintageHourPart{
    background-image: url(../IMG/MaskGroup.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 25rem;
    .VintageHourWrapper{
        width: 90%;
        margin: 0 auto;
        .VintageHourArticle{
            text-align: left;
            padding-top: 12rem;
            font-size: 4rem;
            font-weight: 700;
            color: $Black;
            padding-bottom: 6.3rem;
            .OrangeHour{
                color: $Orange;
            }
        }
    }
}

.VintageHourFlex{
    display: flex;
    justify-content: space-between;
    column-gap: 32.4rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.VintageHourText{
    font-size: 1.8rem;
    font-weight: 400;
    color: $Black;
    .AreasText{
        font-size: 4rem;
        font-weight: 700;
        padding-bottom: 2rem;
        margin-top: 2.4rem;
        .OrangeExpertise{
            color: $Orange;
        }
    }
}
// ----------------------------------------------------


.DiversityPart{
    .FirstLine{
        border: 3px solid $Orange;
        position: relative;
        top: 25.7rem;
        z-index: 0;
        background-color: $Orange;
    }
    .SecondLine{
        border: 3px solid $Orange;
        position: relative;
        top: 89rem;
        z-index: 0;
        background-color: $Orange;
    }
    .DiversityWrapper{
        width: 90%;
        margin: 0 auto;
        .DiversityArticle{
            text-align: left;
            padding-top: 12rem;
            font-size: 4rem;
            font-weight: 700;
            color: $Black;
            padding-bottom: 5rem;
            .OrangePurpose{
                color: $Orange;
            }
        }
    }
}

.DiversityGrid{
    display: grid;
    grid-template-columns: repeat(7, auto);
    column-gap: 2rem;
    row-gap: 2rem;
        img{
            width: 100%;
            height: 100%;
        }
    .LeftTop{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        z-index: 1;
    }
    .LeftMidleLeft{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        z-index: 1;
    }
    .LeftMidleRight{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        z-index: 1;
    }
    .LeftBottom{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        z-index: 1;
    }
    .Midle{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
        z-index: 1;
    }
    .RightTop{
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 3;
        z-index: 1;
    }
    .RightBottomLeft{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 5;
        z-index: 1;
    }
    .RightBottomMidlleTop{
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
        z-index: 1;
    }
    .RightBottomMidlleBottom{
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 5;
        z-index: 1;
    }
    .RightBottom{
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 3;
        grid-row-end: 5;
        z-index: 1;
    }
}
// -----------------------------------------------------

.AwardsPart{
    background-color: $BackqroundWhite;
    padding-bottom: 12rem;
    .AwardsWrapper{
        width: 90%;
        margin: 0 auto;
        .AwardsArticle{
            text-align: left;
            padding-top: 12rem;
            font-size: 4rem;
            font-weight: 700;
            color: $Black;
            padding-bottom: 5rem;
            .OrangeAwards{
                color: $Orange;
            }
        }
    }
}

.AwardsGrid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 12rem;
    img{
        width: 100%;
        height: 100%;
    }
    .LeftTop{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .LeftBottom{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .Midle{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .RightTop{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .RightMidle{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
    }
}
// ------------------------------------------------------

.ContactPart{
    background-image: url(../img/—Pngtree—south\ korea\ jinxian\ ink\ hills_6690513\ 2.png);
    background-size: cover;
    background-attachment: local;
    .ContactWrapper{
        width: 90%;
        margin: 0 auto;
        .ContactArticle{
            text-align: left;
            padding-top: 12rem;
            font-size: 4rem;
            font-weight: 700;
            color: $Black;
            padding-bottom: 5rem;
            .OrangeContact{
                color: $Orange;
            }
        }
    }
}

.ContactGrid{
    display: grid;
    grid-template-columns: repeat(4, 298px);
//     grid-template-rows: 240px 240px 70px;
    column-gap: 6.7rem;
    row-gap: 6.2rem;
//     padding-bottom: 9rem;
    .ContactArticleTwo{
        text-align: left;
        font-size: 4rem;
        font-weight: 700;
        color: $Black;
        .OrangeContactTwo{
            color: $Orange;
        }
    }
    .LondonOfice,
    .NYOfice,
    .DubaiOfice,
    .ParisOfice{
        font-weight: 400;
        font-size: 3rem;
        color: $Black;
        .OficeName{
            font-weight: 700;
            padding-bottom: 2rem;
        }
    }
    .LondonOfice{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .NYOfice{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .DubaiOfice{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .ParisOfice{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .MailForma{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        .mailTo{
            font-size: 3rem;
            color: $Black;
            font-weight: 700;
            padding-bottom: 2rem;
        }
    }
}


.MailLine{
    font-size: 3rem;
    font-weight: 400;
    color: $Black;
    border-bottom: 1px solid $Black;
        label{
            font-size: 3rem;
            font-weight: 400;
        }
        input{
            border: none;
            background-color: rgba(0, 0, 0, 0);
        }
}

.SendButton{
    display: flex;
    justify-content: end;
    margin-top: 3.8rem;
    margin-bottom: 9rem;
        .send{
            font-size: 4rem;
            font-weight: 700;
            color: $Black;
            background-color: $Orange;
            border: none;
            border-radius: 5px;
            padding: 1.2rem 3.7rem 1.8rem 6.7rem;
        }
}
.line{
    border: 1px solid $Black;
}
.Info{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 1.8rem;
    font-weight: 700;
}