$Orange: #ff9900;
$Black: #000;
$White: #ffff;
$BackqroundWhite: #F6FDEE;
$Yelow: #FFE600;

@mixin ButtonRight{
    color: $Black;
    font-size: 2.4rem;
    font-weight: 700;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid $Yelow;
}

*{
    box-sizing: border-box;
    font-family: 'Philosopher';
}

a{
    text-decoration: none;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
}

html{
    font-size: 10px;
    @media screen and (max-width: 1286px){
        font-size: 9px;
    } 
    @media screen and (max-width: 815px){
        font-size: 8px;
    }
    @media screen and (max-width: 300px){
        font-size: 6px;
    }    
}

.MainBackground{
    background-image: url(../img/banner\ 1.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Logo{
        font-size: 4rem;
        font-weight: 400;
        color: $White;
    }
        .LogoSpan{
            color: $Orange;
            font-size: 4rem;
            font-weight: 400;
        }
    .HeaderLinks{
        display: flex;
        justify-content: space-between;
        font-size: 2.4rem;
        font-weight: 400;
        column-gap: 2.5%;
        @media screen and (max-width: 730px){
            display: none;
        } 
        a{
            color: $White;
            &:hover{
                color: #ff9900;
            }
        }
    }
    .TakeTour{
        font-size: 2.4rem;
        font-weight: 700;
        a{
            color: $Orange;
            &:hover{
                color: $White;
            }
    
        }
    }
    .gamburger{
        display: none;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        border: 3px solid $Orange;
        @media screen and (max-width: 730px){
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }   
        .gamburger-dekoration{
            margin: 0;
            padding: 0;
            border: 1px solid $Orange;
            width: 20px;
        }
    }
}
// -----------------------------------------------

.MainText{
    display: flex;
    justify-content: center;
    padding-top: 30.2rem;
    padding-bottom: 36rem;
    padding-left: 18.2%;
    padding-right: 15.8%;
    color: $White;
    @media screen and (max-width: 1140px){
        padding-left: 5%;
        padding-right: 4%;
    } 
    @media screen and (max-width: 600px){
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 10rem;
    }   
    @media screen and (max-width: 500px){
        flex-direction: column;
    }   
    .MainArticle{
        font-size: 8rem;
        font-weight: 400;
        text-align: right;
        @media screen and (max-width: 700px){
            font-size: 6rem;
        }
        @media screen and (max-width: 500px){
            text-align: center;
        }    
            .OrangeArticle{
                color: $Orange;
             }
    }
    .MainParagraph{
        padding-left: 18.2rem;
        padding-top: 17px;
        font-size: 3.4rem;
        font-weight: 400;
        @media screen and (max-width: 900px){
            padding-left: 7rem;
        }
        @media screen and (max-width: 700px){
            font-size: 3rem;
        }
        @media screen and (max-width: 600px){
            padding-left: 3rem;
        }   
        p{
        margin-top: 0px;
        margin-bottom: 0px;
        }
        .WhoSay{
            color: $Orange;
            text-align: right;
        }
    }
}
// ---------------------------------------

.StoryPartBackground{
    background-color: $BackqroundWhite;
}

.StoryPart{
    width: 90%;
    margin: 0 auto;
    .StoryArticle{
        text-align: left;
        padding-top: 12rem;
        font-size: 4rem;
        font-weight: 700;
        color: $Black;
        padding-bottom: 7rem;
       @media screen and (max-width: 737px){
            padding-bottom: 2rem;
            padding-top: 2rem;
        }  
       .OrangeStory{
            color: $Orange;
       }
    }
}

.FirstGridConter{
    display: grid;
    grid-template-columns: repeat(3);
    column-gap: 6.6rem;
    row-gap: 2.8rem;
    @media screen and (max-width: 981px){
        column-gap: 3rem;
    }
    @media screen and (max-width: 849px){
        column-gap: 2rem;
    }  
    img{
        width: 100%;
        height: 100%;
    }
    .StoryText{
        font-size: 1.8rem;
        font-weight: 400;
        color: $Black;
    }
    .StoryOrange{
        font-size: 2.4rem;
        font-weight: 700;
        color: $Orange;
        padding-bottom: 2rem;
        @media screen and (max-width: 737px){
            padding-bottom: 1rem;
            font-size: 2rem;
        } 
    }
    .LeftTop{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .LeftMidle{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .LeftBottom{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .CenterTop{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: center;
    }
    .CenterBottom{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 5;
    }
    .RightTop{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .RightMidle{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .RightBottom{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}

.ReadMore{
    text-align: right;
    padding-top: 3.5rem;
    padding-bottom: 13.1rem;
    margin: 0px;
    .ReadMoreButton{
        @include ButtonRight;
            &:hover{
                color: $Orange;
            }
    }
}
// ----------------------------------------------

.OurCollectionPart{
    .FirstLine{
        border: 3px solid $Orange;
        position: relative;
        top: 26.575rem;
        z-index: 0;
        background-color: $Orange;
    }
    .SecondLine{
        border: 3px solid $Orange;
        position: relative;
        top: 67.5rem;
        z-index: 0;
        background-color: $Orange;
        @media screen and (max-width: 970px){
            top: 56.5rem;
        }
        @media screen and (max-width: 425px){
            top: 45.5rem;
        }   
    }
    .CollectionWrapper{
        width: 90%;
        margin: 0 auto;
        .ColectionArticle{
            text-align: left;
            padding-top: 12rem;
            font-size: 4rem;
            font-weight: 700;
            color: $Black;
            padding-bottom: 5rem;
            @media screen and (max-width: 970px){
                padding-top: 2rem;
                padding-bottom: 2rem;
            } 
            .OrangeCollection{
                color: $Orange;
            }
        }
    }
}

.SecondGridConter {
    display: grid;
    grid-template-columns: repeat(4);
    column-gap: 6.6rem;
    @media screen and (max-width: 970px){
        column-gap: 4rem;
    } 
    @media screen and (max-width: 600px){
        column-gap: 1.5rem;
    } 
    @media screen and (max-width: 331px){
        column-gap: 0.8rem;
    } 
    .London {
        background-image: url(../img/hotel1\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .Dubai {
        background-image: url(../img/hotel3\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .Paries {
        background-image: url(../img/hotel4\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .NewYork {
        background-image: url(../img/hotel5\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        grid-column-start: 4;
        grid-column-end: 5;
    }
}

.city{
    font-size: 2.4rem;
    font-weight: 700;
    color: $White;
    width: 10.4rem;
    border-bottom: 5px solid $Yelow;
    padding-top: 29.7rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    @media screen and (max-width: 500px){
        width: 7rem;
        padding-top: 20rem;
    }
    @media screen and (max-width: 425px){
        margin-left: 1rem;
        font-size: 2rem;
    } 
    @media screen and (max-width: 331px){
        width: 5rem;
        font-size: 1.5rem;
        border-bottom: 2px solid $Yelow;
    }   
    &:hover{
        color: $Orange;
    }
}

.cityDescribe{
    margin-left: 2rem;
    margin-right: 3.6rem;
    color: $White;
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 7rem;
    @media screen and (max-width: 970px){
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.5rem;
    }
    @media screen and (max-width: 425px){
        margin-left: 1rem;
        font-size: 1rem;
    }  
}
// -------------------------------------------------

.VintageHourPart{
    background-image: url(../IMG/MaskGroup.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 25rem;
    .VintageHourWrapper{
        width: 90%;
        margin: 0 auto;
        .VintageHourArticle{
            text-align: left;
            padding-top: 12rem;
            font-size: 4rem;
            font-weight: 700;
            color: $Black;
            padding-bottom: 6.3rem;
            @media screen and (max-width: 1135px){
                padding-bottom: 2rem;
                padding-top: 2rem;
            }
            .OrangeHour{
                color: $Orange;
            }
        }
    }
}

.VintageHourFlex{
    display: flex;
    justify-content: space-between;
    column-gap: 32.4rem;
    padding-left: 10rem;
    padding-right: 10rem;
    @media screen and (max-width: 1575px){
        column-gap: 15rem;
    }
    @media screen and (max-width: 1380px){
        padding-left: 5rem;
        padding-right: 5rem;
        column-gap: 8rem;
    }
    @media screen and (max-width: 1135px){
        padding-left: 0rem;
        padding-right: 0rem;
        column-gap: 2rem;
    }
    @media screen and (max-width: 815px){
        flex-direction: column;
        text-align: center;
    }
    div{
        img{
            @media screen and (max-width: 640px){
                max-width: 90%;
            } 
        }
    }
}

.VintageHourText{
    font-size: 1.8rem;
    font-weight: 400;
    color: $Black;
    .AreasText{
        font-size: 4rem;
        font-weight: 700;
        padding-bottom: 2rem;
        margin-top: 2.4rem;
        .OrangeExpertise{
            color: $Orange;
        }
    }
}
// ----------------------------------------------------


.DiversityPart{
    .FirstLine{
        border: 3px solid $Orange;
        position: relative;
        top: 25.7rem;
        z-index: 0;
        background-color: $Orange;
        @media screen and (max-width: 600px){
            border: 2px solid $Orange; 
            top: 13.7rem; 
        }
    }
    .SecondLine{
        border: 3px solid $Orange;
        position: relative;
        top: 89rem;
        z-index: 0;
        background-color: $Orange;
        @media screen and (max-width: 1440px){
            top: 75rem;  
        }
        @media screen and (max-width: 1040px){
            top: 65rem;  
        }
        @media screen and (max-width: 850px){
            top: 55rem;  
        }
        @media screen and (max-width: 600px){
            border: 2px solid $Orange;
            top: 35rem; 
        }
        @media screen and (max-width: 455px){
            border: 2px solid $Orange;
            top: 25rem; 
        }

    }
    .DiversityWrapper{
        width: 90%;
        margin: 0 auto;
        .DiversityArticle{
            text-align: left;
            padding-top: 12rem;
            font-size: 4rem;
            font-weight: 700;
            color: $Black;
            padding-bottom: 5rem;
            @media screen and (max-width: 600px){
                padding-bottom: 2rem; 
                padding-top: 2rem;
                font-size: 3.5rem;
            }
            @media screen and (max-width: 435px){
                font-size: 3rem;
            }
            @media screen and (max-width: 375px){
                font-size: 2.5rem;
            }
            .OrangePurpose{
                color: $Orange;
            }
        }
    }
}

.DiversityGrid{
    display: grid;
    grid-template-columns: repeat(7, auto);
    column-gap: 2rem;
    row-gap: 2rem;
        img{
            width: 100%;
            height: 100%;
        }
    .LeftTop{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        z-index: 1;
    }
    .LeftMidleLeft{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        z-index: 1;
    }
    .LeftMidleRight{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        z-index: 1;
    }
    .LeftBottom{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        z-index: 1;
    }
    .Midle{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
        z-index: 1;
    }
    .RightTop{
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 3;
        z-index: 1;
    }
    .RightBottomLeft{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 5;
        z-index: 1;
    }
    .RightBottomMidlleTop{
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
        z-index: 1;
    }
    .RightBottomMidlleBottom{
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 5;
        z-index: 1;
    }
    .RightBottom{
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 3;
        grid-row-end: 5;
        z-index: 1;
    }
}
// -----------------------------------------------------

.AwardsPart{
    background-color: $BackqroundWhite;
    padding-bottom: 12rem;
    .AwardsWrapper{
        width: 90%;
        margin: 0 auto;
        .AwardsArticle{
            text-align: left;
            padding-top: 12rem;
            font-size: 4rem;
            font-weight: 700;
            color: $Black;
            padding-bottom: 5rem;
            @media screen and (max-width: 730px){
                padding-bottom: 2rem;
                padding-top: 2rem;
            }
            @media screen and (max-width: 360px){
                font-size: 3rem;
            }
            .OrangeAwards{
                color: $Orange;
            }
        }
    }
}

.AwardsGrid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 12rem;
    @media screen and (max-width: 1135px){
        column-gap: 6rem;
    }
    @media screen and (max-width: 730px){
        column-gap: 2rem;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .LeftTop{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .LeftBottom{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .Midle{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .RightTop{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .RightMidle{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
    }
}
// ------------------------------------------------------

.ContactPart{
    background-image: url(../img/—Pngtree—south\ korea\ jinxian\ ink\ hills_6690513\ 2.png);
    background-size: cover;
    background-attachment: local;
    .ContactWrapper{
        width: 90%;
        margin: 0 auto;
        .ContactArticle{
            text-align: left;
            padding-top: 12rem;
            font-size: 4rem;
            font-weight: 700;
            color: $Black;
            padding-bottom: 5rem;
            @media screen and (max-width: 1100px){
                padding-bottom: 2rem;
                padding-top: 2rem;
            }
            .OrangeContact{
                color: $Orange;
            }
        }
    }
}

.ContactGrid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 6.7rem;
    row-gap: 6.2rem;
    @media screen and (max-width: 1680px){
        column-gap: 4rem;
    }
    @media screen and (max-width: 1590px){
        column-gap: 1rem;
        row-gap: 2rem;
    }
    @media screen and (max-width: 1000px){
        grid-template-columns: repeat(3, auto);
    }
    @media screen and (max-width: 700px){
        grid-template-columns: repeat(2, auto);
    }

    .ContactArticleTwo{
        text-align: left;
        font-size: 4rem;
        font-weight: 700;
        color: $Black;
        @media screen and (max-width: 1490px){
            font-size: 3rem;;
        }
        .OrangeContactTwo{
            color: $Orange;
        }
    }
    .LondonOfice,
    .NYOfice,
    .DubaiOfice,
    .ParisOfice{
        font-weight: 400;
        font-size: 3rem;
        color: $Black;
        @media screen and (max-width: 1415px){
            font-size: 2.5rem;
        }
        @media screen and (max-width: 1100px){
            font-size: 2.2rem;
        }
        .OficeName{
            font-weight: 700;
            padding-bottom: 2rem;
            @media screen and (max-width: 1100px){
                padding-bottom: 1rem;
            }
        }
    }
    .LondonOfice{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        @media screen and (max-width: 1000px){
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        @media screen and (max-width: 460px){
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }
    .NYOfice{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        @media screen and (max-width: 1000px){
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        @media screen and (max-width: 460px){
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }
    .DubaiOfice{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        @media screen and (max-width: 1000px){
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        @media screen and (max-width: 700px){
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        @media screen and (max-width: 460px){
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
        }
    }
    .ParisOfice{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        @media screen and (max-width: 1000px){
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        @media screen and (max-width: 700px){
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        @media screen and (max-width: 460px){
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 5;
            grid-row-end: 6;
        }
    }
    .MailForma{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        @media screen and (max-width: 1000px){
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        @media screen and (max-width: 700px){
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        @media screen and (max-width: 460px){
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 6;
            grid-row-end: 7;
        }
        .mailTo{
            font-size: 3rem;
            color: $Black;
            font-weight: 700;
            padding-bottom: 2rem;
            @media screen and (max-width: 1100px){
                font-size: 2rem;
                padding-bottom: 0.5rem;
            }
        }
    }
}


.MailLine{
    font-size: 3rem;
    font-weight: 400;
    color: $Black;
    border-bottom: 1px solid $Black;
    @media screen and (max-width: 460px){
        font-size: 2rem;
    }
        label{
            font-size: 3rem;
            font-weight: 400;
            @media screen and (max-width: 1100px){
                font-size: 2rem;
            }
        }
        input{
            border: none;
            background-color: rgba(0, 0, 0, 0);
        }

    @media screen and (max-width: 1470px){
        width: 90%;
    }
}

.SendButton{
    display: flex;
    justify-content: end;
    margin-top: 3.8rem;
    margin-bottom: 9rem;
        .send{
            font-size: 4rem;
            font-weight: 700;
            color: $Black;
            background-color: $Orange;
            border: none;
            border-radius: 5px;
            padding: 1.2rem 3.7rem 1.8rem 6.7rem;
            @media screen and (max-width: 400px){
                font-size: 2rem;
                padding: 1rem 1rem 1rem 1rem;
            }
        }
}
.line{
    border: 1px solid $Black;
}
.Info{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 1.8rem;
    font-weight: 700;
    @media screen and (max-width: 400px){
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 1.2rem;
        font-weight: 400;
    }
}