$white: #fff;
$buttonOrange: #C98D5A;
$buttonBlack: #151616;
$backgroundWhite: #EBEBEB;
$buttonGray: #C4C4C4;
$BreadPriceBlack: #1F1F1F;
$CatalogButtonPadding: 1.5rem 4.5rem;
$PricePadding: 2.6rem 4.6rem 6.5rem 4.6rem;

@mixin titleWhite {
    color: $white;
    font-weight: 800;
    font-size: 6rem;
    text-transform: uppercase;
}

@mixin titleBlack {
    color: $buttonBlack;
    font-weight: 800;
    font-size: 6rem;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;

    @media screen and (max-width: 950px) {
        font-size: 8px;
    }
    @media screen and (max-width: 790px) {
        font-size: 6px;
    }
    @media screen and (max-width: 500px) {
        font-size: 5px;
    }
    @media screen and (max-width: 330px) {
        font-size: 4px;
    }

    .MAINbackground {
        background-size: cover;
        background-image: url("../img/Backgroud.png");
    }
}

.wrapper {
    width: 74%;
    margin: 0 auto;
}

.wrapperSecond {
    width: 73.125%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .Logo {
        width: 24%;
        img{
            @media screen and (max-width: 600px) {
                max-height: 50%;
                margin-top: 6rem;
            }
            @media screen and (max-width: 455px) {
                max-height: 40%;
                margin-top: 7rem;
            }
        }
    }
}

.HeaderLinks {
    width: 64.5%;
    align-self: center;

    @media screen and (max-width: 1100px) {
        width: 60%;
    }

    @media screen and (max-width: 1000px) {
        display: none;
    }  
    .HeaderLinksList {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-weight: 400;
        row-gap: 10px;
        font-size: 1.5rem;
    }

    a {
        color: $white;
        margin-right: 1.6%;
        line-height: 18.3px;

        @media screen and (max-width: 1510px) {
            margin-right: 0.6%;
        }

        &:hover {
            font-weight: 700;
            border-bottom: 1px solid #fff;
        }

        &:last-child {
            margin-right: 0%;
        }

    }
}

.gamburger {
    display: none;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 50%;

    @media screen and (max-width: 1000px) {
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: space-around;
        margin-top: 6rem;
        flex-direction: column;
    }
    @media screen and (max-width: 790px) {
        margin-top: 9rem;
    }

    .gamburgerLine {
        height: 2px;
        width: 2rem;
        background-color: #fff;
    }
}

.basket {
    width: 11%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: 1100px) {
        width: 15%;
        justify-content: center;
    }
    @media screen and (max-width: 1000px) {
        width: 30%;
    }
    @media screen and (max-width: 391px) {
        display: none;;
    }

    &Button {
        .basketButtonImage {
            border-radius: 50%;
            background-color: #281C14;
            border: none;
        }
    }

    .basketPrice {
        color: $white;
        font-weight: 700;
        font-size: 1.5rem;

        @media screen and (max-width: 1635px) {
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

    .basketBottomWay {
        padding-left: 8px;
    }
}

.startText {
    h1 {
        color: white;
        font-weight: 800;
        font-size: 7.3rem;
        margin-top: 10.5vh;
        margin-bottom: 6vh;
        @media screen and (max-width: 455px) {
            margin-top: 1vh;
            margin-bottom: 1vh;
        }
        @media screen and (max-width: 400px) {
            font-size: 4rem;
            }
    }

    p {
        color: $white;
        font-weight: 400;
        font-size: 2.1rem;
        width: 63%;
        padding-bottom: 50px
    }

    button {
        background-color: $buttonOrange;
        color: $buttonBlack;
        width: 284px;
        height: 81px;
        border-radius: 56px;
        font-size: 1.8rem;
        font-weight: 500;
        border: none;
        margin-bottom: 28.93vh;
        @media screen and (max-width: 600px) {
            width: 30rem;
            height: 8rem;
        }
    }
}

// ------------------------------------------
// ------------------------------------------
// ------------------------------------------
.WhyWe {
    background-color: $backgroundWhite;

    .WhyWeAlign {
        margin: 0 auto;
        padding-top: 44px;
        padding-bottom: 73px;
        text-align: center;

        h2 {
            @include titleBlack();
            margin-bottom: 36px;
            margin-top: 0px;
            @media screen and (max-width: 400px) {
                font-size: 4rem;
                }
        }

        img {
            padding-bottom: 43px;
            @media screen and (max-width: 500px) {
                padding-bottom: 10px;
                }
        }

        .WhyWeBlock {
            display: flex;
            justify-content: center;
            column-gap: 2.25%;
            font-weight: 400;
            font-size: 2rem;
            padding-left: 17.5%;
            padding-right: 17.5%;
            color: $buttonBlack;
            img{
                @media screen and (max-width: 500px) {
                max-width: 50%;
                }
            }
        }
    }
}

// -------------------------------------------------
// -------------------------------------------------
// -------------------------------------------------
.catalog {
    background-image: url("../img/fresh-brown-bread-on-the-table1.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    .catalogALIGH {
        padding-top: 53px;
        padding-bottom: 141px;

        h2 {
            @include titleWhite;
            margin-top: 0px;
            @media screen and (max-width: 400px) {
                font-size: 4rem;
                }
        }

        .catalogCONTER {
            margin-bottom: 73px;
            @media screen and (max-width: 500px) {
                margin-bottom:40px;
            }

            .catalogList {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                column-gap: 0.75%;

                @media screen and (max-width: 1200px) {
                    row-gap: 2rem;
                }
            }
        }
    }
}

.catalogItem {
    padding: $CatalogButtonPadding;
    background: transparent;
    color: $buttonGray;
    font-weight: 500;
    font-size: 2.1rem;
    text-transform: capitalize;
    border-radius: 44px;
    border: 1px solid $buttonGray;

    &:hover {
        background-color: $buttonOrange;
        color: $buttonBlack;
    }
}

.catalogProduct {
    display: flex;
    justify-content: center;
    padding-left: 17.8%;
    padding-right: 17.8%;
    color: $buttonGray;
    gap: 5.2%;

    @media screen and (max-width: 455px) {
        padding-left: 1%;
        padding-right: 1%;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .BreadWhite,
    .BreadDarnytskyi,
    .BreadPodovyy {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: none;
        border-radius: 30px;
        background-color: $BreadPriceBlack;
        padding: $PricePadding;
        width: 33%;

        h3 {
            font-weight: 700;
            font-size: 2.0rem;
            margin-bottom: 9px;
        }

        .BreadImg {
            width: 100%;
        }

        .BreadText {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .BreadPrice {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .BreadPriceImage{
                @media screen and (max-width: 750px) {
                    width: 50%;;
                }
            }

        .BreadPriceButton {
            background-color: $buttonOrange;
            border: none;
            padding-top: 9px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 9px;
            font-weight: 400;
            font-size: 1.5rem;
            @media screen and (max-width: 600px) {
                font-size: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
}

// ------------------------------------------------------
.aboutUs {
    background-image: url(../img/background2.png);
    background-position: right -179px bottom 215px;

    .AboutUsAlign {
        margin: 0 auto;
        text-align: center;

        h2 {
            @include titleBlack();
            padding-top: 44px;
            padding-bottom: 36px;
            margin: 0 auto;
            @media screen and (max-width: 400px) {
                font-size: 4rem;
                }
        }

        .aboutUsText {
            font-weight: 400;
            font-size: 2rem;
        }

        .MAinParagraph {
            margin-bottom: 2.2rem;
        }

        .SignaParagpaph {
            text-align: right;
            padding-bottom: 76px;
        }
    }
}

// ---------------------------------------------------
.Production {
    @extend .catalog;

    h2 {
        @include titleWhite;
        padding-top: 73px;
        margin-bottom: 65px;
        margin-top: 0px;
        @media screen and (max-width: 400px) {
            font-size: 4rem;
            }

        @media screen and (max-width: 1070px) {
            margin-bottom: 20px;
        }
    }
}

.ProductionImages {
    height: 435px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 1070px) {
        scale: 0.7;
        width: auto;
    }
    @media screen and (max-width: 960px) {
        flex-wrap: nowrap;
        height: auto;
        scale: 1;
    }
    img{
        @media screen and (max-width: 391px) {
            max-width: 70%;
        }
    }   
}

// --------------------------------------------------  
footer {
    background-color: #121413;
    color: $white;

    .FooterAlign {
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 990px) {
            flex-direction: column;
        }
    }

    .ContactsText {
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 8px;
        margin-top: 0px;
    }

    .ContactsAdress {
        font-weight: 400;
        font-size: 1.6rem;
        margin: 0 auto;
    }

    .Phones {
        font-weight: 700;

        @media screen and (max-width: 1200px) {
            width: 30%;
        }

        @media screen and (max-width: 990px) {
            width: 100%;
            padding-top: 20px;
            text-align: center;
        }

        p {
            font-size: 2.4rem;
            margin-top: 0px;
            margin-bottom: 0px;

            @media screen and (max-width: 1330px) {
                font-size: 1.6rem;
                font-weight: 400;
            }
        }
    }
}
// ------------Стрілки що ламають сторінку---------------
.arrows{
    @media screen and (max-width: 1030px) {
        width: 65%;
    }
}